<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="mainjelix.org" name="main" createdate="2012-03-09">
        <version date="2012-03-09">0.1pre</version>
        <label lang="en_US">main</label>
        <description lang="en_US" />
        <license URL="">All rights reserved</license>
        <copyright>2012 Laurnent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://innophi.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.4pre.2287" maxversion="1.6.*"/>
    </dependencies>
</module>
