<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="gitiwiki@jelix.org" name="gitiwiki" createdate="2012-03-03">
        <version date="2012-03-03">0.1pre</version>
        <label lang="en_EN">gitiwiki</label>
        <description lang="en_EN" />
        <license URL="">GPL</license>
        <copyright>2012 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.4pre.2272" maxversion="1.4pre.*"/>
    </dependencies>
</module>
