.DS_Store
*.komodoproject
.idea
Thumbs.db
temp/gitiwiki/*
gitiwiki/var/config/installer.ini.php
gitiwiki/var/config/installer.bak.ini.php
gitiwiki/var/config/profiles.ini.php
gitiwiki/var/config/localconfig.ini.php
gitiwiki/var/config/liveconfig.ini.php
gitiwiki/var/config/localurls.xml
gitiwiki/var/log/*
gitiwiki/var/sessions/*
gitiwiki/var/uploads/*
gitiwiki/var/books/*
gitiwiki/var/repositories/*
gitiwiki/vendor/
tests/data/books
tests/data/repositories
.phpunit.result.cache
