<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="gtwsphinx@jelix.org" name="gtwsphinx" createdate="2012-12-04">
        <version date="2019-02-24">0.2</version>
        <label lang="en_US">gtwsphinx</label>
        <description lang="en_US" />
        <license URL="">GPL</license>
        <copyright>2012 Brice Tencé</copyright>
        <creator name="Brice Tencé" email="brice.tence@gmail.com"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>https://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0" maxversion="1.8.*"/>
    </dependencies>
    <autoload>
        <namespace name="GtwSphinx" dir="lib/" />
    </autoload>
</module>
